{% extends 'registration/base.html' %}
{% block body %}

<div class="panel panel-default panel-narrow dead-center-content">

    <form accept-charset="UTF-8" action="{% url 'verify_second_factor_totp' %}" method="post">
        {% csrf_token %}
        {% if next_url %}
        <input name="next" type="hidden" value="{{next_url}}">
        {% endif %}
        <div class="panel-body text-center">
            <div class="">
                {% include "common/login_banner.html" %}
            </div>
            <label for="two-factor-code">	Enter the six-digit code from the application from the two-factor
                app on your mobile device. If you've lost your device, contact your {{ portal }} administrator and request an MFA reset
            </label>

            <div class="input-group dead-center-container panel-body text-center ">
                <input autocomplete="off" class="form-control dead-center text-center" id="two-factor-code"
                       name="verification_code"
                       placeholder="Enter six digit code."
                       type="text" value="">
                <input name="next" type="hidden" value="{{ next }}">
            </div>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}

            <button class="btn btn-primary form-group" type="submit">
                Submit
            </button>
        </div>
    </form>

</div>
{% endblock %}