<div class="form-group hidden" id="custom_tab">
  <h3 for="custom_type">View by Type</h3>
  <select class="form-control selectize" name="custom_type" id="custom_type">
    <option value="overview" data-dimension="date" selected="selected">Overview</option>
    <option value="resource_group" data-dimension="resource_group">Resource Groups</option>
    <option value="location" data-dimension="location">Locations</option>
    <option value="service_name" data-dimension="service_name">Services</option>
  </select>
</div>

<div class="form-group hidden" id="other_tab">
  <h3 for="other_type">View by Type</h3>
  <select class="form-control selectize" name="other_type" id="other_type">
    <option value="overview" data-dimension="date" selected="selected">Overview</option>
    <option value="resource_group" data-dimension="resource_group">Resource Groups</option>
    <option value="location" data-dimension="location">Locations</option>
    <option value="service_tier" data-dimension="service_tier">Service Tiers</option>
  </select>
</div>