<div class="form-group hidden" id="custom_tab">
  <h3 for="custom_type">View by Type</h3>
  <select class="form-control selectize" name="custom_type" id="custom_type">
    <option value="overview" data-dimension="date" selected="selected">Overview</option>
    <option value="project" data-dimension="project_id">Projects</option>
    <option value="service" data-dimension="service">Services</option>
    <option value="region" data-dimension="region">Locations</option>
  </select>
</div>

<div class="form-group hidden" id="compute_tab">
  <h3 for="compute_type">View by Type</h3>
  <select class="form-control selectize" name="compute_type" id="compute_type">
    <option value="overview" data-dimension="date" selected="selected">Overview</option>
    <option value="project" data-dimension="project_id">Projects</option>
    <option value="region" data-dimension="region">Locations</option>
  </select>
</div>

<div class="form-group hidden" id="database_tab">
  <h3 for="database_type">View by Type</h3>
  <select class="form-control selectize" name="database_type" id="database_type">
    <option value="overview" data-dimension="date" selected="selected">Overview</option>
    <option value="project" data-dimension="project_id">Projects</option>
    <option value="region" data-dimension="region">Locations</option>
  </select>
</div>