#admin-tab .nav-boxed-tabs>li {
  float: left;
  margin-right: -1px;
  margin-bottom: -1px;
  border-bottom: 1px solid;
}

.loader.fade {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(255,255,255,.5);
  border-radius: 2px;
  z-index: 1160;
  transition: opacity .15s linear;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-pointer-events: none;
}

.loader.fade.in {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  background-color: rgba(255,255,255,.5);
  border-radius: 2px;
  z-index: 1160;
  opacity: 1;
  visibility: visible;
  transition: opacity .3s .2s,visibility 0s .2s;
  -webkit-pointer-events: auto;
  pointer-events: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.go-to-admin .cb-btn, .go-to-rh .cb-btn {
  width: auto !important;  
}

.modal-backdrop {
  display: none !important;
}

.errorMessageModal .modal-body {
  min-height: 8vh;
  max-height: 75vh;
  overflow-y: auto;
}

.errorMessageModal.modal.fade.in {
  background: none !important;
  opacity: 1!important;
}

.modal-open {
  overflow-x: hidden;
  overflow-y: auto !important;
  padding-right: 0px !important;
  position: absolute;
}

.errorMessageModal .modal-content {
  min-height: auto;
  max-height: none;
  overflow-y: auto;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert a:not(.btn) {
  color: #1e7e34;
  font-weight: bold;
  text-decoration: underline;
}

.alert button.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem 1.25rem;
  color: inherit;
}