{% extends "base.html" %}
{% load static %}
{% load helper_tags %}
{% load tab_tags %}
{% block topnav %}Azure ARM Template Library{% endblock %}
{% block title %}Azure ARM Template Library{% endblock %}
​
{% block content %}
    <span class="uplink"><a href="{% url 'admin_home' %}">Admin</a></span>
    <h1>Azure ARM Template Library</h1>
    <blockquote>The Azure ARM Template XUI for CloudBolt allows you to manage a set of CloudBolt blueprints backed by Azure Resource Manager Templates.</blockquote>
    {% draw_tabs tabs %}
{% endblock content %}
